html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  font-family: avenir next,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}

.box {
  padding: 30px;
  width: fit-content;
  min-width: 500px;
  letter-spacing: 1px;
  color: rgba(74,74,74,.9);
  background-color: #fff;
  box-shadow: 0 12px 44px 0 rgba(0,0,0,.06);
}

.error-box {
  margin-top: 20px;
  color: darkred;
}

.error-header {
  margin-bottom: 10px;
}

.error-body {
  font-size: small;
}

.box>h1 {
  color: black;
  margin-top: 10px;
  text-align: center;
}

.pageNum > input {
  width: 30%;
  align-content: center;
  float: right;
}

.star {
  padding-right: 10px;
}

.spacer {
  margin-left: auto;
}

.row {
  /* color: black; */
  display: flex;
  flex-flow: row ;

  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-between;
}
/* .rowLeft {
  display: flex;
  flex-flow: nowrap;

  justify-content: left;

  padding: 0;
  margin: 0;
  list-style: none;
}

.rowRight {
  display: flex;
  flex-flow: nowrap;

  justify-content: right;

  padding: 0;
  margin: 0;
  list-style: none;
} */


.row:hover {
  background-color: lightgray;
}

.text {
  flex-grow: 1;
}

.checkbox-wrapper {
  /* margin-left: 20px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
}

.row:last-of-type {
  border-bottom: none;
}

.row:last-of-type:hover {
  background-color: initial;
}

.submitForm {
  height: 35px;
  margin-top: 10px;
}

.mangaName {
  width: 25%;
}

.mangaUrl {
  width: 75%;
}

